[defaults]
inventory = inventory.yml
host_key_checking = True
stdout_callback = default
result_format = yaml
forks = 5
retry_files_enabled = False
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
